---
- name: Check if proxmox exists
  command: which pvesh
  register: proxmox_check
  ignore_errors: true
  changed_when: false
  become: true

- name: Install Proxmox default kernel
  apt:
    name: proxmox-default-kernel
    state: present
  when: proxmox_check.rc != 0
  environment:
    DEBIAN_FRONTEND: noninteractive
  become: true

- name: Get installed Proxmox kernel version
  shell: dpkg -l | grep '^ii  proxmox-kernel-.*-pve' | awk '{print $2}' | sed 's/proxmox-kernel-//' | sed 's/-signed$//' | head -1
  register: kernel_version
  changed_when: false
  when: proxmox_check.rc != 0
  become: true

- name: Install Proxmox headers for current kernel
  apt:
    name: "proxmox-headers-{{ kernel_version.stdout }}"
    state: present
    update_cache: true
  when: proxmox_check.rc != 0
  notify: reboot system
  become: true

- name: Install Proxmox VE packages
  apt:
    name:
      - proxmox-ve
      - pve-manager
      - postfix
      - open-iscsi
      - chrony
      - ifupdown2
    state: present
  when: proxmox_check.rc != 0
  environment:
    DEBIAN_FRONTEND: noninteractive
  become: true

- name: Disable Proxmox Enterprise repository
  lineinfile:
    path: /etc/apt/sources.list.d/pve-enterprise.list
    regexp: '^deb'
    line: '#deb https://enterprise.proxmox.com/debian/pve {{ ansible_distribution_release }} pve-enterprise'
    create: true
  when: proxmox_check.rc != 0
  become: true

- name: Purge ZFS DKMS if not needed
  apt:
    name: zfs-dkms
    state: absent
    purge: yes
    autoremove: yes
  when: proxmox_check.rc != 0
  environment:
    DEBIAN_FRONTEND: noninteractive
  become: true

- name: Remove Debian kernel
  apt:
    name:
      - linux-image-amd64
      - 'linux-image-*'
    state: absent
  when: proxmox_check.rc != 0
  environment:
    DEBIAN_FRONTEND: noninteractive
  become: true

- name: Update GRUB
  command: update-grub
  when: proxmox_check.rc != 0
  become: true  

- name: Remove os-prober package
  apt:
    name: os-prober
    state: absent
  when: proxmox_check.rc != 0
  environment:
    DEBIAN_FRONTEND: noninteractive
  become: true

- name: Configure hosts file
  template:
    src: hosts.j2
    dest: /etc/hosts
    backup: yes
  when: proxmox_check.rc != 0
  become: true

- name: Set network variables
  set_fact:
    subnet_mask: 24
    gateway: "{{ ansible_host | regex_replace('\\.\\d+$', '.1') }}"
  when: proxmox_check.rc != 0
  become: true

- name: Get physical interfaces names
  command: find /sys/class/net -type l -not -lname '*virtual*' -printf '%f\n'
  register: physical_interfaces_cmd
  changed_when: false
  check_mode: false
  when: proxmox_check.rc != 0
  become: true

- name: Set physical interface (first non-virtual)
  set_fact:
    physical_interface: "{{ physical_interfaces_cmd.stdout_lines | reject('match', '^lo$') | first | default('eno1') }}"  # Exclude lo, fallback to eno1 if none found
  when: proxmox_check.rc != 0
  become: true

- name: Configure network interfaces for Proxmox
  template:
    src: interfaces.j2
    dest: /etc/network/interfaces
    backup: yes
  when: proxmox_check.rc != 0
  notify: reload networking
  become: true
