---
- name: Remove dpkg lock file
  ansible.builtin.command:
    cmd: rm -f /var/lib/dpkg/lock-frontend
  ignore_errors: true  # Continue even if the file doesn't exist or can't be removed
  changed_when: false
  become: true

- name: Remove the deb cdrom line from sources.list
  ansible.builtin.lineinfile:
    path: /etc/apt/sources.list
    regexp: '^deb cdrom:'
    state: absent
  become: true

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
  become: true

- name: Upgrade all packages
  ansible.builtin.apt:
    upgrade: dist
  become: true

- name: Remove unused packages
  ansible.builtin.apt:
    autoremove: yes
  become: true

- name: Clean up unused dependency packages
  ansible.builtin.apt:
    autoclean: yes
  become: true


...