---
- name: Install required packages for neovim
  apt:
    name:
      - zram-tools
    state: present
  become: true

- name: Ensure zRAM compression algorithm is set
  ansible.builtin.lineinfile:
    path: /etc/default/zramswap
    regexp: '^#?ALGO='
    line: 'ALGO=lz4'
    state: present
    mode: '0644'
  # notify: Restart zramswap service
  become: true

- name: Ensure zRAM percentage is set
  ansible.builtin.lineinfile:
    path: /etc/default/zramswap
    regexp: '^#?PERCENT='
    line: 'PERCENT=25'
    state: present
    mode: '0644'
  # notify: Restart zramswap service
  become: true

- name: Ensure zram-tools is installed
  ansible.builtin.package:
    name: zram-tools
    state: present
  become: true

- name: Reload systemd daemon
  systemd:
    daemon_reload: yes
  become: true

# - name: Reboot system for service
#   ansible.builtin.reboot:
#     reboot_timeout: 300
#   become: yes
#   when: nvidia_check.rc != 0

# - name: Restart zramswap service
#   ansible.builtin.systemd_service:
#     name: zramswap.service
#     state: "restarted"
#     enabled: true
#   changed_when: false

...