---
- name: Check if zsh is installed
  command: which zsh
  register: zsh_check
  ignore_errors: true
  changed_when: false

- name: Install zsh
  apt:
    name: zsh
    state: present
  when: zsh_check.rc != 0
  become: true

- name: Change user shell to zsh
  user:
    name: "{{ ansible_user }}"
    shell: /bin/zsh
    append: no
  become: true

- name: Check if antidote is already installed
  stat:
    path: "{{ ansible_env.HOME }}/gits/antidote"
  register: antidote_dir

- name: Install antidote
  git:
    repo: https://github.com/mattmc3/antidote.git
    dest: "{{ ansible_env.HOME }}/gits/antidote"
    depth: 1
  when: not antidote_dir.stat.exists
  become_user: "{{ ansible_user }}"

- name: Check if Oh My Posh is installed
  stat:
    path: "{{ ansible_env.HOME }}/gits/ohmyposh_install.sh"
  register: omp_check
  ignore_errors: true
  changed_when: false

- name: Install unzip as dependency of oh-my-posh
  apt:
    name: unzip
    state: present
  become: true

- name: Download Oh My Posh installer
  get_url:
    url: https://ohmyposh.dev/install.sh
    dest: "{{ ansible_env.HOME }}/gits/ohmyposh_install.sh"
    mode: '0755'
  become_user: "{{ ansible_user }}"

- name: Install Oh My Posh
  command: bash "{{ ansible_env.HOME }}/gits/ohmyposh_install.sh"
  when: not omp_check.stat.exists
  become_user: "{{ ansible_user }}"

- name: Install Oh My Posh fonts
  shell:
    cmd: "{{ ansible_env.HOME }}/.local/bin/oh-my-posh font install JetBrainsMono"
  become_user: "{{ ansible_user }}"
  when: not omp_check.stat.exists
...